@import './_functions';

// Basic, framework-wide variables.

$framework-class-prefix: 'ds';

// -------------- COLORS --------------

//                     0        1        2        3        4        5        6        7
$colors: (
	'blue':         ( #edf3f7, #c9dce6, #9cbdd1, #6399b8, #367aa3, #00598a, #004065, #002236 ),
	'neutral':      ( #fdfdfd, #f3f3f3, #e2e2e2, #d1d1d1, #ababab, #757575, #555,    #232323 ),
	'neutral-warm': ( #fcfcfa, #f1f0ee, #e4e3e1, #d4d3d0, #b0ada8, #79756e, #5b5852, #242321 ),
	'neutral-cool': ( #fcfcfe, #eff1f1, #e1e3e5, #d0d4d6, #a9afb4, #6d777f, #535b60, #1f2325 ),
	'transparent': ( rgba(0, 0, 0, 0))
);

@function get-color($category, $num) {
	@return nth(map-get($colors, $category), $num + 1);
}

//               0        1        2        3        4        5
$contextual-colors: (
	'blue':   ( #eaf4fa, #b7e2fb, #24afff, #038ad8, #0370b0, #012a41 ),
	'green':  ( #ceede3, #59c9a2, #27aa7c, #098b5d, #066544, #054830 ),
	'yellow': ( #fdf0bf, #fbe798, #f9dc66, #f7cf2b, #e3b602, #cc9e05 ),
	'red':    ( #fcd6d4, #f7685e, #dd2113, #af1a0f, #940a00, #590d08 ),
	'purple': ( #f0e0fa, #debcf5, #b76de9, #9d37e1, #781bb6, #4f1278 )
);

@function get-contextual-color($category, $num) {
	@return nth(map-get($contextual-colors, $category), $num + 1);
}

$black: get-color('neutral', 7) !default;
$white: get-color('neutral', 0) !default;

$pure-white: #fff;
$transparent-white: rgba($pure-white, .33);

// -------------- UTILITY & LAYOUT --------------
$margin-bottom: .83rem;
$horizontal-rule-color: get-color('neutral', 3);
$horizontal-rule-color-dark: get-color('neutral', 5);

$spacing-intervals: (
	'0': (value: 0),
	'0_5': (value: .5),
	'1': (value: 1),
	'1_5': (value: 1.5),
	'2': (value: 2),
	'2_5': (value: 2.5),
	'3': (value: 3),
	'3_5': (value: 3.5),
	'4': (value: 4),
	'4_5': (value: 4.5),
	'5': (value: 5),
	'5_5': (value: 5.5),
	'6': (value: 6),
	'6_5': (value: 6.5),
	'7': (value: 7),
	'7_5': (value: 7.5),
	'8': (value: 8),
	'8_5': (value: 8.5),
	'9': (value: 9),
	'9_5': (value: 9.5),
	'10': (value: 10),
	'10_5': (value: 10.5),
	'auto': (value: auto),
);

$spacing-list: [
0,
1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
];

$sides:  (top: t, right: r, bottom: b, left: l);

// -------------- TYPOGRAPHY --------------
$font-color-default: $black !default;
$background-color-default: $white !default;
$font-color-light: $background-color-default !default;
$background-color-dark: $font-color-default !default;
$font-size: 1rem !default;
$font-size-px: 19px !default; // Use only for conversions to or from px
$font-line-height: 1.4;

$font-family: 'IBMPlexSans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-mono: 'IBMPlexMono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace !default;
$font-family-italic: 'IBMPlexSans', sans-serif !default;

$headings: (
	'h1': (value: (61 / 19) * 1rem, class-name: '1'),
	'h2': (value: (37 / 19) * 1rem, class-name: '2'),
	'h3': (value: (27 / 19) * 1rem, class-name: '3'),
	'h4': (value: (23 / 19) * 1rem, class-name: '4'),
	'h5': (value: (17 / 19) * 1rem, class-name: '5'),
);

// -------------- BREAKPOINTS --------------
// gridSize = (screenSize - 1em)
// sm: 10 columns aka 5/6 of grid size is 20em aka easily readable type width
// md: 6 columns aka 1/2 of grid size is 20em
// lg: 4 columns aka 1/3 of grid size is 20em
// xl: 3 columns aka 3/12 of grid size is 20em

$breakpoints: 'xs', 'sm', 'md', 'lg', 'xl' !default;
$breakpoints-high: 'xs-high', 'sm-high', 'md-high';
$breakpoint-xs-low: 0 !default;
$breakpoint-sm-low: 475px; // 475 with 19px font size
$breakpoint-md-low: 779px !default; // 779 with 19px font size
$breakpoint-lg-low: 1159px !default; // 1159px with 19px font size
$breakpoint-xl-low: 1539px !default; // 1540px with 19px font size
$breakpoint-xs-high: 475px !default;
$breakpoint-sm-high: 778px !default;
$breakpoint-md-high: 1158px !default;
// $breakpoint-lg-high: 778px !default;
$breakpoint-values: (
	xs: $breakpoint-xs-low,
	sm: $breakpoint-sm-low,
	md: $breakpoint-md-low,
	lg: $breakpoint-lg-low,
	xl: $breakpoint-xl-low,
	'xs-high': $breakpoint-xs-high,
	'sm-high': $breakpoint-sm-high,
	'md-high': $breakpoint-md-high,
);


// -------------- ANIMATIONS & TRANSITIONS --------------
$transition-duration: .2s;
$transition-function: cubic-bezier(.77, 0, .175, 1); //easeInOutQuart
$transition-ease-in-out: cubic-bezier(.86, 0, .07, 1); //easeInOutQuint
$transition-ease-in-quint: cubic-bezier(.755, .05, .855, .06);
$transition-ease-out-quint: cubic-bezier(.23, 1, .32, 1);
$transition-ease-out-quart: cubic-bezier(.165, .84, .44, 1);

// -------------- SELECTORS --------------
$button-selectors: '.#{$framework-class-prefix}-button';

// -------------- Z-INDEX HIERARCHY --------------
$z-negative: -1;
$z-base: 1;
$z-low: 10;
$z-mid: 100;
$z-high: 500;
$z-extreme: 9999;
